* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --Yellow: hsl(47, 88%, 63%);
    --White: hsl(0, 0%, 100%);
    --Gray-500: hsl(0, 0%, 42%);
    --Gray-950: hsl(0, 0%, 7%);
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    width: 100%;
    height: 100%;
    background-color: var(--Yellow);
    font-family: "Figtree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

}

main {
    max-width: 350px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80%;
}

p {
    font-size: 16px;
    color: var(--Gray-500);
}

.card {
    max-width: 98%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: var(--White);
    padding: 1em;
    border: 3px solid var(--Gray-500);
    border-right: 0;
    border-bottom: 0;
    box-shadow: 3px 3px;
    border-radius: 10px;

}

.card img {
    width: 100%;
    border-radius: 10px;
}

.learning {
    width: auto;
    background-color: var(--Yellow);
    border-radius: 8px;
    padding: 1em 1.5em;
    align-self: flex-start;
    border-radius: 5px;
}
.published-date{
    color: var(--Gray-950);
}
.title{
    transition: 1s ease-in-out;
    cursor: pointer;
}
.title:hover{
    color: var(--Yellow);
}
.avatar {
    display: flex;
    align-items: center;
    gap: 8px;
}

.avatar img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.avatar span {
    font-weight: 500;
}